<%= form_with(model: musica) do |form| %>
  <% if musica.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(musica.errors.count, "error") %> prohibited this musica from being saved:</h2>

      <ul>
        <% musica.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :artista, style: "display: block" %>
    <%= form.text_field :artista %>
  </div>

  <div>
    <%= form.label :album, style: "display: block" %>
    <%= form.text_field :album %>
  </div>

  <div>
    <%= form.label :duracao, style: "display: block" %>
    <%= form.number_field :duracao %>
  </div>

  <div>
    <%= form.label :spotify_id, style: "display: block" %>
    <%= form.text_field :spotify_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
