<div id="<%= dom_id musica %>">
  <p>
    <strong>Nome:</strong>
    <%= musica.nome %>
  </p>

  <p>
    <strong>Artista:</strong>
    <%= musica.artista %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= musica.album %>
  </p>

  <p>
    <strong>Duracao:</strong>
    <%= musica.duracao %>
  </p>

  <p>
    <strong>Spotify:</strong>
    <%= musica.spotify_id %>
  </p>

</div>
