<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nome:</strong>
    <%= usuario.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= usuario.senha %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= usuario.data_de_nascimento %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= usuario.genero %>
  </p>

  <p>
    <strong>Spotify token:</strong>
    <%= usuario.spotify_token %>
  </p>

</div>
