<h1>Nova Playlist</h1>

<%= form_with(model: [@usuario, @playlist], url: usuario_playlists_path(@usuario)) do |form| %>
  <%= form.label :nome %>
  <%= form.text_field :nome %>

  <%= form.label :descricao %>
  <%= form.text_area :descricao %>

  <%= form.submit "Criar Playlist" %>
<% end %>
